.example-card {
  max-width: 400px;
}

.inner-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.top-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.bottom-card {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover, a:active {
  color: lightgrey;
}
