<ng-container>
  <section class="specimen-details" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"><b>Specimen: </b>{{ id }}</mat-card-title>
      <mat-card-content fxLayoutAlign="center">


        <p *ngIf="checkExistence('alternative_id')">
          <b>Alternative id: </b> {{ data['alternative_id'] }}
        </p>
        <p *ngIf="checkExistence('submission_title')">
          <b>Submission title: </b> {{ data['submission_title'] }}
        </p>
        <p *ngIf="checkExistence('material')">
          <b>Material: </b> <a href="{{generateLink(data['material_ontology'])}}">{{ data['material'] }}</a>
        </p>
        <p *ngIf="checkExistence('person_last_name')">
          <b>Person last name: </b> {{ convertArrayToStr(data['person_last_name']) }}
        </p>
        <p *ngIf="checkExistence('person_email')">
          <b>Person email: </b>
          <a href="{{email}}" *ngFor="let email of data['person_email']">
            {{formatEmailStr(email)}}
          </a>
        </p>
        <p *ngIf="checkExistence('person_affiliation')">
          <b>Person affiliation: </b> {{ convertArrayToStr(data['person_affiliation']) }}
        </p>
        <p *ngIf="checkExistence('person_role')">
          <b>Person role: </b>
          <a href="{{generateLink(role['ontology'])}}" *ngFor="let role of getOntologyField('person_role')">
            {{ role['text'] }}</a>
        </p>
        <p *ngIf="checkExistence('organization_name')">
          <b>Organization name: </b> {{ convertArrayToStr(data['organization_name']) }}
        </p>
        <p *ngIf="checkExistence('organization_role')">
          <b>Organization role: </b>
          <a href="{{generateLink(role['ontology'])}}" *ngFor="let role of getOntologyField('organization_role')">
            {{ role['text'] }}</a>
        </p>
        <p *ngIf="checkExistence('gene_bank_name')">
          <b>Gene bank name: </b> {{ data['gene_bank_name'] }}
        </p>
        <p *ngIf="checkExistence('gene_bank_country')">
          <ng-container *ngIf="countryInEugena(data['gene_bank_country'])">
            <b>Gene bank country: </b> <a href="{{countries[data['gene_bank_country']]}}">{{ data['gene_bank_country'] }}</a>
          </ng-container>
          <ng-container *ngIf="!countryInEugena(data['gene_bank_country'])">
            <b>Gene bank country: </b> <a href="{{generateLink(data['gene_bank_country_ontology'])}}">{{ data['gene_bank_country'] }}</a>
          </ng-container>
        </p>
        <p *ngIf="checkExistence('data_source_type')">
          <b>Data source type: </b> {{ data['data_source_type'] }}
        </p>
        <p *ngIf="checkExistence('data_source_version')">
          <b>Data source version: </b> {{ data['data_source_version'] }}
        </p>
        <p *ngIf="checkExistence('species')">
          <b>Species: </b>  <a href="{{generateLink(data['species_ontology'])}}">{{ data['species'] }}</a>
        </p>
        <mat-divider [inset]="true"></mat-divider>


        <p *ngIf="checkExistence('submission_description')">
          <b>Submission description: </b> {{ data['submission_description'] }}
        </p>
        <p *ngIf="checkExistence('person_first_name')">
          <b>Person first name: </b> {{ convertArrayToStr(data['person_first_name']) }}
        </p>
        <p *ngIf="checkExistence('organization_address')">
          <b>Organization address: </b> {{ convertArrayToStr(data['organization_address']) }}
        </p>
        <p *ngIf="checkExistence('organization_country')">
          <b>Organization country: </b>
          <a href="{{generateLink(country['ontology'])}}" *ngFor="let country of getOntologyField('organization_country')">
            {{ country['text'] }}</a>
        </p>

        <p *ngIf="checkExistence('description')">
          <b>Description: </b> {{ data['description'] }}
        </p>
        <p *ngIf="checkExistence('person_initial')">
          <b>Person initial: </b> {{ convertArrayToStr(data['person_initial']) }}
        </p>
        <p *ngIf="checkExistence('organization_uri')">
          <b>Organization uri: </b> {{ convertArrayToStr(data['organization_uri']) }}
        </p>
        <p *ngIf="checkExistence('publication_doi')">
          <b>Publication DOI: </b> {{ data['publication_doi'] }}
        </p>

        <mat-divider [inset]="true"></mat-divider>


        <p *ngIf="checkExistence('derived_from', true)">
          <b>Derived from: </b> <a [routerLink]="['/tables/organism', data['derived_from']]">
          {{ data['derived_from'] }}
        </a>
        </p>

        <p *ngIf="checkExistence('collection_place_accuracy', true)">
          <b>Collection place accuracy: </b> {{ data['collection_place_accuracy'] }}
        </p>

        <p *ngIf="checkExistence('organism_part', true)">
          <b>Organism part: </b>
          <a href="{{ generateLink(data['organism_part_ontology']) }}">{{ data['organism_part'] }}</a>
        </p>

        <p *ngIf="checkExistence('specimen_collection_protocol', true)">
          <b>Specimen collection protocol: </b> {{ data['specimen_collection_protocol'] }}
        </p>

        <p *ngIf="checkExistence('collection_date', true)">
          <b>Collection date: </b> {{ data['collection_date'] }}
          {{ data['collection_date_unit'] }}
        </p>
        <p *ngIf="checkExistence('collection_place_latitude', true)">
          <b>Collection place latitude: </b> {{ data['collection_place_latitude'] }}
          {{ data['collection_place_latitude_unit'] }}
        </p>
        <p *ngIf="checkExistence('collection_place_longitude', true)">
          <b>Collection place longitude: </b> {{ data['collection_place_longitude'] }}
          {{ data['collection_place_longitude_unit'] }}
        </p>
        <p *ngIf="checkExistence('collection_place', true)">
          <b>Collection place: </b> {{ data['collection_place'] }}
        </p>

        <div id="map" class="map"></div>
        <p></p>
        <p *ngIf="checkExistence('developmental_stage', true)">
          <b>Developmental stage: </b>
          <a href="{{ generateLink(data['developmental_stage_ontology']) }}">{{ data['developmental_stage'] }}</a>
        </p>
        <p *ngIf="checkExistence('physiological_stage', true)">
          <b>Physiological stage: </b>
          <a href="{{ generateLink(data['physiological_stage_ontology']) }}">{{ data['physiological_stage'] }}</a>
        </p>
        <p *ngIf="checkExistence('availability', true)">
          <b>Availability: </b>
          <a href="{{ generateLink(data['availability']) }}">{{ data['availability'] }}</a>
        </p>
        <p *ngIf="checkExistence('sample_storage', true)">
          <b>Sample storage: </b> {{ data['sample_storage'] }}
        </p>
        <p *ngIf="checkExistence('sample_storage_processing', true)">
          <b>Sample storage processing: </b> {{ data['sample_storage_processing'] }}
        </p>
        <p *ngIf="checkExistence('animal_age_at_collection', true)">
          <b>Animal age at collection: </b> {{ data['animal_age_at_collection'] }}
          {{ data['animal_age_at_collection_unit'] }}
        </p>
        <p *ngIf="checkExistence('sampling_to_preparation_interval', true)">
          <b>Sampling to preparation interval: </b> {{ data['sampling_to_preparation_interval'] }}
          {{ data['sampling_to_preparation_interval_unit'] }}
        </p>

        <mat-divider [inset]="true"></mat-divider>

        <p>
          <button mat-raised-button color="primary" (click)="downloadData()">
            Download data
            <mat-icon>save</mat-icon>
          </button>
          <a mat-raised-button
             href="https://github.com/cnr-ibba/IMAGE-DiversityBrowser"
             color="accent">Diversity browser tool</a>
        </p>

        <h3>Related files</h3>
        <div class="sticky-header">
          <table mat-table [dataSource]="files">
            <ng-container matColumnDef="file_name">
              <th mat-header-cell *matHeaderCellDef>File name</th>
              <td mat-cell *matCellDef="let element">
                <a href="{{generateFtpLink(element['file_url'])}}">{{ element['file_name'] }}</a></td>
            </ng-container>

            <ng-container matColumnDef="file_size">
              <th mat-header-cell *matHeaderCellDef>File size</th>
              <td mat-cell *matCellDef="let element">
                {{ element['file_size'] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="file_checksum">
              <th mat-header-cell *matHeaderCellDef>File checksum</th>
              <td mat-cell *matCellDef="let element">
                {{ element['file_checksum'] }}
              </td>
            </ng-container>

            <ng-container matColumnDef="file_checksum_method">
              <th mat-header-cell *matHeaderCellDef>File checksum method</th>
              <td mat-cell *matCellDef="let element">
                {{ element['file_checksum_method'] }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons>
          </mat-paginator>
        </div>

      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
