<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <div fxLayout="column">
    <section>
      <div class="inner-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>Specific objectives of IMAGE</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              To reach its overall goal, the project will pursue and achieve the following scientific and technological
              objectives:
            </p>
            <ul>
              <li>At the scientific level, the project will develop methods and set up case studies to answer the
                following main questions:
                <ul>
                  <li>What is the genetic diversity, either between or within breeds, available in genetic collections?
                    Which part of it is not present in the mainstream livestock breeds dominating global
                    food production?</li>
                  <li>Which adaptive traits can be identified through landscape genetics in local populations? How do
                    gene banks help to elucidate the history of local populations and the history of major genes?</li>
                  <li>Which potentially detrimental variants can contribute to inbreeding depression?</li>
                  <li>Can we better predict the reproductive performance of cryobank samples to enable their
                    effective use?</li>
                  <li>Can we facilitate the effective use of samples in breeding by novel genome-assisted methods and
                    tools?</li>
                </ul>
              </li>
              <li>
                At the technological level, it will design, develop and test or implement:
                <ul>
                  <li>Procedures for harmonising gene bank operations and rationalising existing collections, for
                    reproductive and biological materials;</li>
                  <li>Conservation and reproductive biotechnologies;</li>
                  <li>Bioinformatics tools to connect available data on germplasm and genomic collections in a central
                    hub.</li>
                </ul>
              </li>
              <li>
                At the applied level, it will design, develop and test methods and tools for stakeholders in order to:
                <ul>
                  <li>Restore genetic diversity in livestock populations;</li>
                  <li>Define and track breed-based product brands;</li>
                  <li>Create or reconstruct breeds fitting new environmental constraints and consumer demands;</li>
                  <li>Facilitate cryobanking for local breeds, particularly regarding sanitary regulations;</li>
                  <li>Demonstrate the use of comprehensive, species-wide comparisons of diversity parameters by
                    integrating existing information sources;</li>
                  <li>Implement access and benefit sharing (ABS) regulations.</li>
                </ul>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
  <div fxLayout="column">
    <section>
      <div class="inner-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>Expected achievements</b></mat-card-title>
            <mat-card-subtitle>The project will result in the following achievements:</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ol>
              <li>
                Conservation and management of genetic collections:
                <ul>
                  <li>Improved quality of collections and enhanced accessibility of collection information;</li>
                  <li>Upgraded sampling criteria and shared sampling rules across Europe for new collections;</li>
                  <li>Development and strengthening of the European Genebank Network for Animal Genetic Resources
                    (EUGENA) supported by the FAO’s European Regional Focal Point on animal genetic resources;</li>
                  <li>Novel protocols and procedures for biological sample preservation;</li>
                  <li>Harmonised protocols for exchange and access to genetic resources;</li>
                  <li>New genomic knowledge about local breeds and novel methods to value their adaptive traits.</li>
                </ul>
              </li>
              <li>
                Exploitation of genetic collections:
                <ul>
                  <li>An integrated database connecting genomic information to genetic collections along with search and
                    analysis tools;</li>
                  <li>Guidelines and recommendations to help livestock actors make their decisions;</li>
                  <li>Tools for genomic-assisted introgression of genetic material from collections to live populations;
                  </li>
                  <li>A demonstration of genomic-assisted introgression in biodiversity restoration;</li>
                  <li>A demonstration of the role played by genetic traceability in promoting local breeds;</li>
                  <li>A demonstration of gene banks’ usefulness to retrospectively assess genetic changes in livestock
                    breeds.</li>
                </ul>
              </li>
            </ol>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
  <div fxLayout="column">
    <section>
      <div class="inner-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>IMAGE Workpackages</b></mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/image001.png" alt="IMAGE Workpackages">
          <mat-card-content>
            <p>
              WP1 - Multi actor participation and knowledge exchange
            </p>
            <p>
              WP2- Enhancing gene bank functioning to improve quality and access transparency
            </p>
            <p>
              WP3- Improving reproductive technologies for gene banking
            </p>
            <p>
              WP4- Innovative genomic characterisation for better evaluation of genetic collections
            </p>
            <p>
              WP5- Information system for data integration and data sharing
            </p>
            <p>
              WP6- Sustainable and innovative use of genetic collections
            </p>
            <p>
              WP7- Outreach
            </p>
            <p>
              WP8- Consortium coordination and project management
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
</div>
