<mat-expansion-panel>
  <mat-expansion-panel-header>
    Filters:
  </mat-expansion-panel-header>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Data source ID
    </mat-expansion-panel-header>
    <p>
      <b>SAMEA5159526:</b> 0
    </p>
    <p>
      <b>SAMEA5159526:</b> 0
    </p>
    <p>
      <b>SAMEA5159526:</b> 0
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Species
    </mat-expansion-panel-header>
    <p>
      <b>
        Capra hircus:</b> 0
    </p>
    <p>
      <b>Sus scrofa:</b> 0
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Supplied breed
    </mat-expansion-panel-header>
    <p>
      <b>Verzaschese:</b> 0
    </p>
    <p>
      <b>Cinta Senese:</b> 0
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Sex
    </mat-expansion-panel-header>
    <p>
      <b>Male:</b> 0
    </p>
    <p>
      <b>Female:</b> 0
    </p>
  </mat-expansion-panel>
</mat-expansion-panel>
