<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3>Filters:</h3>
  </mat-expansion-panel-header>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Data source ID
    </mat-expansion-panel-header>
    <mat-chip-list>
      <mat-chip>SAMEA5159526: 35</mat-chip>
    </mat-chip-list>
    <mat-chip-list>
      <mat-chip>SAMEA5159526: 2</mat-chip>
    </mat-chip-list>
    <mat-chip-list>
      <mat-chip>SAMEA5159526: 1</mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Species
    </mat-expansion-panel-header>
    <mat-chip-list>
      <mat-chip>Capra hircus: 35</mat-chip>
    </mat-chip-list>
    <mat-chip-list>
      <mat-chip color="accent">Sus scrofa: 35</mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Supplied breed
    </mat-expansion-panel-header>
    <mat-chip-list>
      <mat-chip color="accent">Verzaschese: 35</mat-chip>
    </mat-chip-list>
    <mat-chip-list>
      <mat-chip color="accent">Cinta Senese: 35</mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Sex
    </mat-expansion-panel-header>
    <mat-chip-list>
      <mat-chip color="accent">Male: 35</mat-chip>
    </mat-chip-list>
    <mat-chip-list>
      <mat-chip color="accent">Female: 35</mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-expansion-panel>

<h3>Active filters:</h3>
<mat-chip-list class="active-filters">
  <mat-chip [removable]="true">
    One fish
    <mat-icon>cancel</mat-icon>
  </mat-chip>
  <mat-chip color="primary" selected>Primary fish<mat-icon>cancel</mat-icon></mat-chip>
  <mat-chip color="accent" selected>Accent fish<mat-icon>cancel</mat-icon></mat-chip>
  <mat-chip color="warn" selected>One fish<mat-icon>cancel</mat-icon></mat-chip>
</mat-chip-list>
