
<mat-sidenav-container>
  <mat-sidenav mode="side" position="end" #sideNav>
    <mat-card>
      <mat-card-title>
        Filter Features
      </mat-card-title>
      <mat-card-content>
        <form class="" [formGroup]="filterForm" (ngSubmit)="onSubmitForm()">

          <div class="">
            <mat-form-field class="">
              <input type="text"
              placeholder="Choose an ID"
              aria-label="Number"
              matInput
              formControlName="idControl"
              [matAutocomplete]="autoId">
              <mat-autocomplete autoActiveFirstOption #autoId="matAutocomplete">
                <mat-option *ngFor="let id of cdpService.filteredIds | async" [value]="id">
                  {{ id }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field class="">
              <input type="text"
              placeholder="Choose a Specie"
              aria-label="Number"
              matInput
              formControlName="specieControl"
              [matAutocomplete]="autoSpecie">
              <mat-autocomplete autoActiveFirstOption #autoSpecie="matAutocomplete">
                <mat-option *ngFor="let specie of cdpService.filteredSpecies | async" [value]="specie">
                  {{ specie }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field class="">
              <input type="text"
              placeholder="Choose a Breed"
              aria-label="Number"
              matInput
              formControlName="breedControl"
              [matAutocomplete]="autoBreed">
              <mat-autocomplete autoActiveFirstOption #autoBreed="matAutocomplete">
                <mat-option *ngFor="let breed of cdpService.filteredBreeds | async" [value]="breed">
                  {{ breed }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field class="">
              <input type="text"
              placeholder="Choose a Organism Part"
              aria-label="Number"
              matInput
              formControlName="partControl"
              [matAutocomplete]="autoPart">
              <mat-autocomplete autoActiveFirstOption #autoPart="matAutocomplete">
                <mat-option *ngFor="let part of cdpService.filteredParts | async" [value]="part">
                  {{ part }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="">
            <button mat-raised-button color="primary" type="submit" class="button">Filter</button>
          </div>

          <br>

          <div class="">
            <button mat-raised-button color="warn" type="button" class="button" (click)="onResetForm()">Reset</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="map"
    leaflet
    leafletDraw
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="mapService.options"
    [leafletLayers]="mapService.layers"
    [leafletLayersControl]="mapService.layersControl"
    [leafletMarkerCluster]="markerClusterData"
    [leafletMarkerClusterOptions]="markerClusterOptions"
    (leafletMarkerClusterReady)="markerClusterReady($event)"
    [leafletDrawOptions]="mapService.drawOptions"
    (leafletDrawCreated)="onDrawCreated($event)"
    (leafletDrawStart)="onDrawStart($event)"
    (leafletDrawDeleted)="onDrawDeleted($event)"
    (leafletDrawEdited)="onDrawEdited($event)">

      <!-- leaflet.draw layer -->
      <div [leafletLayer]="mapService.drawnItems"></div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<br>

<mat-accordion [multi]="true">

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        List of Organisms
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-organisms
      *ngIf="!isFetchingOrganisms"
      [geoOrganisms]="organismsData"
      (selectedOrganism)="onSelectedOrganism($event)">
    </app-organisms>

  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">

    <mat-expansion-panel-header>
      <mat-panel-title>
        List of Specimens
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-specimens
      *ngIf="!isFetchingSpecimens"
      [geoSpecimens]="specimensData"
      (selectedSpecimen)="onSelectedSpecimen($event)">
    </app-specimens>

  </mat-expansion-panel>

</mat-accordion>
