<ng-container>
  <section class="gis-search" fxLayout fxLayoutAlign="center">
    <div id="map" class="map"></div>
    <mat-card fxFlex.xs="100%">
      <mat-card-title fxLayoutAlign="center">GIS-based search</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <form class="example-container" [formGroup]="options">
          <mat-form-field>
            <input matInput placeholder="Latitude" formControlName="latitude">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Longitude" formControlName="longitude">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Choose radius" formControlName="radius">
              <mat-option value="10">Within 10 kilometers</mat-option>
              <mat-option value="20">Within 20 kilometers</mat-option>
              <mat-option value="30">Within 30 kilometers</mat-option>
              <mat-option value="40">Within 40 kilometers</mat-option>
              <mat-option value="50">Within 50 kilometers</mat-option>
              <mat-option value="100">Within 100 kilometers</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="startSearch()">Search</button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>

<div *ngIf="showTables()">
  <h3 fxLayoutAlign="center center">Organisms:</h3>
  <div class="sticky-header">
    <table mat-table [dataSource]="dataSourceOrganism">
      <ng-container matColumnDef="data_source_id">
        <th mat-header-cell *matHeaderCellDef>Data source ID</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['../tables', 'organism', element.data_source_id]">
          {{ element.data_source_id }}</a></td>
      </ng-container>

      <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef>Species</th>
        <td mat-cell *matCellDef="let element">{{ element.species }}</td>
      </ng-container>

      <ng-container matColumnDef="supplied_breed">
        <th mat-header-cell *matHeaderCellDef>Supplied breed</th>
        <td mat-cell *matCellDef="let element">{{ element.supplied_breed }}</td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef>Sex</th>
        <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsOrganisms; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsOrganisms"></tr>
    </table>
  </div>
  <h3 fxLayoutAlign="center center">Specimens:</h3>
  <div class="sticky-header">
    <table mat-table [dataSource]="dataSourceSpecimen">
      <ng-container matColumnDef="data_source_id">
        <th mat-header-cell *matHeaderCellDef>Data source ID</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['../tables', 'specimen', element.data_source_id]">
          {{ element.data_source_id }}</a></td>
      </ng-container>

      <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef>Species</th>
        <td mat-cell *matCellDef="let element">{{ element.species }}</td>
      </ng-container>

      <ng-container matColumnDef="derived_from">
        <th mat-header-cell *matHeaderCellDef>Derived from</th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['../tables', 'organism', element.derived_from]">
          {{ element.derived_from }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="organism_part">
        <th mat-header-cell *matHeaderCellDef>Organism part</th>
        <td mat-cell *matCellDef="let element">{{ element.organism_part }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSpecimens; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSpecimens"></tr>
    </table>
  </div>
</div>

<div *ngIf="showMessage()">
  <h3 fxLayoutAlign="center center">No results found</h3>
</div>
