<ng-container>
  <section class="organism-details" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"><b>Organism: </b>{{ id }}</mat-card-title>
      <mat-card-content fxLayoutAlign="center">


        <p *ngIf="checkExistence('alternative_id')">
          <b>Alternative id: </b> {{ data['alternative_id'] }}
        </p>
        <p *ngIf="checkExistence('submission_title')">
          <b>Submission title: </b> {{ data['submission_title'] }}
        </p>
        <p *ngIf="checkExistence('material')">
          <b>Material: </b> <a href="{{data['material_ontology']}}">{{ data['material'] }}</a>
        </p>
        <p *ngIf="checkExistence('person_last_name')">
          <b>Person last name: </b> {{ convertArrayToStr(data['person_last_name']) }}
        </p>
        <p *ngIf="checkExistence('person_email')">
          <b>Person email: </b>
          <a href="{{email}}" *ngFor="let email of data['person_email']">
            {{formatEmailStr(email)}}
          </a>
        </p>
        <p *ngIf="checkExistence('person_affiliation')">
          <b>Person affiliation: </b> {{ convertArrayToStr(data['person_affiliation']) }}
        </p>
        <p *ngIf="checkExistence('person_role')">
          <b>Person role: </b>
          <a href="{{role['ontology']}}" *ngFor="let role of getOntologyField('person_role')">
            {{ role['text'] }}</a>
        </p>
        <p *ngIf="checkExistence('organization_name')">
          <b>Organization name: </b> {{ convertArrayToStr(data['organization_name']) }}
        </p>
        <p *ngIf="checkExistence('organization_role')">
          <b>Organization role: </b>
          <a href="{{role['ontology']}}" *ngFor="let role of getOntologyField('organization_role')">
            {{ role['text'] }}</a>
        </p>
        <p *ngIf="checkExistence('gene_bank_name')">
          <b>Gene bank name: </b> {{ data['gene_bank_name'] }}
        </p>
        <p *ngIf="checkExistence('gene_bank_country')">
          <b>Gene bank country: </b> <a href="{{data['gene_bank_country_ontology']}}">{{ data['gene_bank_country'] }}</a>
        </p>
        <p *ngIf="checkExistence('data_source_type')">
          <b>Data source version: </b> {{ data['data_source_type'] }}
        </p>
        <p *ngIf="checkExistence('data_source_version')">
          <b>Data source version: </b> {{ data['data_source_version'] }}
        </p>
        <p *ngIf="checkExistence('species')">
          <b>Species: </b> <a href="{{data['species_ontology']}}">{{ data['species'] }}</a>
        </p>
        <mat-divider [inset]="true"></mat-divider>


        <p *ngIf="checkExistence('submission_description')">
          <b>Submission description: </b> {{ data['submission_description'] }}
        </p>
        <p *ngIf="checkExistence('person_first_name')">
          <b>Person first name: </b> {{ convertArrayToStr(data['person_first_name']) }}
        </p>
        <p *ngIf="checkExistence('organization_address')">
          <b>Organization address: </b> {{ convertArrayToStr(data['organization_address']) }}
        </p>
        <p *ngIf="checkExistence('organization_country')">
          <b>Organization country: </b>
          <a href="{{country['ontology']}}" *ngFor="let country of getOntologyField('organization_country')">
            {{ country['text'] }}</a>
        </p>

        <p *ngIf="checkExistence('description')">
          <b>Description: </b> {{ data['description'] }}
        </p>
        <p *ngIf="checkExistence('person_initial')">
          <b>Person initial: </b> {{ convertArrayToStr(data['person_initial']) }}
        </p>
        <p *ngIf="checkExistence('organization_uri')">
          <b>Organization uri: </b> {{ convertArrayToStr(data['organization_uri']) }}
        </p>
        <p *ngIf="checkExistence('publication_doi')">
          <b>Publication DOI: </b> {{ data['publication_doi'] }}
        </p>

        <mat-divider [inset]="true"></mat-divider>

        <p *ngIf="checkExistence('supplied_breed', true)">
          <ng-container *ngIf="speciesIsKnown(data['organisms'][0]['supplied_breed'], data['species'])">
            <b>Supplied breed: </b>
            <a href="{{getBreedLink(data['organisms'][0]['supplied_breed'], data['species'])}}">
              {{ data['organisms'][0]['supplied_breed'] }}
            </a>
          </ng-container>
          <ng-container *ngIf="!speciesIsKnown(data['organisms'][0]['supplied_breed'], data['species'])">
            <b>Supplied breed: </b> {{ data['organisms'][0]['supplied_breed'] }}
          </ng-container>
        </p>
        <p *ngIf="checkExistence('efabis_breed_country', true)">
          <b>EFABIS Breed country: </b> {{ data['organisms'][0]['efabis_breed_country'] }}
        </p>
        <p *ngIf="checkExistence('sex', true)">
          <b>Sex: </b> <a href="{{data['organisms'][0]['sex_ontology']}}">{{ data['organisms'][0]['sex'] }}</a>
        </p>
        <p *ngIf="checkExistence('birth_location_accuracy', true)">
          <b>Birth location accuracy: </b> {{ data['organisms'][0]['birth_location_accuracy'] }}
        </p>


        <p *ngIf="checkExistence('mapped_breed', true)">
          <b>Mapped breed: </b> <a href="{{data['organisms'][0]['mapped_breed_ontology']}}">
          {{ data['organisms'][0]['mapped_breed'] }}</a>
        </p>
        <p *ngIf="checkExistence('birth_location', true)">
          <b>Birth location: </b> {{ data['organisms'][0]['birth_location'] }}
        </p>

        <p *ngIf="checkExistence('birth_date', true)">
          <b>Birth date: </b> {{data['organisms'][0]['birth_date']}} {{data['organisms'][0]['birth_date_unit']}}
        </p>

        <p *ngIf="checkExistence('birth_location_longitude', true)">
          <b>Birth location longitude: </b> {{ data['organisms'][0]['birth_location_longitude'] }}
          {{ data['organisms'][0]['birth_location_longitude_unit'] }}
        </p>
        <p *ngIf="checkExistence('birth_location_latitude', true)">
          <b>Birth location latitude: </b> {{ data['organisms'][0]['birth_location_latitude'] }}
          {{ data['organisms'][0]['birth_location_latitude_unit'] }}
        </p>
        <div id="map" class="map"></div>
        <p></p>


        <p *ngIf="checkExistence('child_of', true)">
          <b>Child of: </b> {{ convertArrayToStr(data['organisms'][0]['child_of']) }}
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
