<ng-container>
  <section class="organism-details" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"><b>Organism: </b>{{ id }}</mat-card-title>
      <mat-card-content fxLayoutAlign="center">


        <p *ngIf="checkExistence('alternative_id')">
          <b>Alternative id: </b> {{ data['alternative_id'] }}
        </p>
        <p *ngIf="checkExistence('submission_title')">
          <b>Submission title: </b> {{ data['submission_title'] }}
        </p>
        <p *ngIf="checkExistence('material')">
          <b>Material: </b> <a href="http://purl.obolibrary.org/obo/OBI_0100026">{{ data['material'] }}</a>
        </p>
        <p *ngIf="checkExistence('person_last_name')">
          <b>Person last name: </b> {{ data['person_last_name'] }}
        </p>
        <p *ngIf="checkExistence('person_email')">
          <b>Person email: </b> {{ data['person_email'] }}
        </p>
        <p *ngIf="checkExistence('person_affiliation')">
          <b>Person affiliation: </b> {{ data['person_affiliation'] }}
        </p>
        <p *ngIf="checkExistence('person_role')">
          <b>Person role: </b> {{ data['person_role'] }}
        </p>
        <p *ngIf="checkExistence('organization_name')">
          <b>Organization name: </b> {{ data['organization_name'] }}
        </p>
        <p *ngIf="checkExistence('organization_role')">
          <b>Organization role: </b> {{ data['organization_role'] }}
        </p>
        <p *ngIf="checkExistence('gene_bank_name')">
          <b>Gene bank name: </b> {{ data['gene_bank_name'] }}
        </p>
        <p *ngIf="checkExistence('gene_bank_country')">
          <b>Gene bank country: </b> {{ data['gene_bank_country'] }}
        </p>
        <p *ngIf="checkExistence('data_source_type')">
          <b>Data source version: </b> {{ data['data_source_type'] }}
        </p>
        <p *ngIf="checkExistence('data_source_version')">
          <b>Data source version: </b> {{ data['data_source_version'] }}
        </p>
        <p *ngIf="checkExistence('species')">
          <b>Species: </b> {{ data['species'] }}
        </p>
        <mat-divider [inset]="true"></mat-divider>


        <p *ngIf="checkExistence('submission_description')">
          <b>Submission description: </b> {{ data['submission_description'] }}
        </p>
        <p *ngIf="checkExistence('person_first_name')">
          <b>Person first name: </b> {{ data['person_first_name'] }}
        </p>
        <p *ngIf="checkExistence('organization_address')">
          <b>Organization address: </b> {{ data['organization_address'] }}
        </p>
        <p *ngIf="checkExistence('organization_country')">
          <b>Organization country: </b> {{ data['organization_country'] }}
        </p>
        <mat-divider [inset]="true" *ngIf="checkExistence('submission_description') ||
        checkExistence('person_first_name') || checkExistence('organization_address') ||
        checkExistence('organization_country')"></mat-divider>


        <p *ngIf="checkExistence('description')">
          <b>Description: </b> {{ data['description'] }}
        </p>
        <p *ngIf="checkExistence('person_initial')">
          <b>Person initial: </b> {{ data['person_initial'] }}
        </p>
        <p *ngIf="checkExistence('organization_uri')">
          <b>Organization uri: </b> {{ data['organization_uri'] }}
        </p>
        <p *ngIf="checkExistence('publication_doi')">
          <b>Publication DOI: </b> {{ data['publication_doi'] }}
        </p>
        <mat-divider [inset]="true" *ngIf="checkExistence('description') || checkExistence('person_initial') ||
        checkExistence('organization_uri') || checkExistence('publication_doi')"></mat-divider>


        <p *ngIf="checkExistence('supplied_breed', true)">
          <b>Supplied breed: </b> {{ data['organisms'][0]['supplied_breed'] }}
        </p>
        <p *ngIf="checkExistence('efabis_breed_country', true)">
          <b>EFABIS Breed country: </b> {{ data['organisms'][0]['efabis_breed_country'] }}
        </p>
        <p *ngIf="checkExistence('sex', true)">
          <b>Sex: </b> {{ data['organisms'][0]['sex'] }}
        </p>
        <p *ngIf="checkExistence('birth_location_accuracy', true)">
          <b>Birth location accuracy: </b> {{ data['organisms'][0]['birth_location_accuracy'] }}
        </p>
        <mat-divider [inset]="true" *ngIf="checkExistence('supplied_breed', true) ||
        checkExistence('efabis_breed_country', true) || checkExistence('sex', true) ||
        checkExistence('birth_location_accuracy', true)"></mat-divider>


        <p *ngIf="checkExistence('mapped_breed', true)">
          <b>Mapped breed: </b> {{ data['organisms'][0]['mapped_breed'] }}
        </p>
        <p *ngIf="checkExistence('birth_location', true)">
          <b>Birth location: </b> {{ data['organisms'][0]['birth_location'] }}
        </p>

        <p *ngIf="checkExistence('birth_location_longitude', true)">
          <b>Birth location longitude: </b> {{ data['organisms'][0]['birth_location_longitude'] }}
        </p>
        <p *ngIf="checkExistence('birth_location_latitude', true)">
          <b>Birth location latitude: </b> {{ data['organisms'][0]['birth_location_latitude'] }}
        </p>
        <div id="map" class="map"></div>
        <p></p>
        <mat-divider [inset]="true" *ngIf="checkExistence('mapped_breed', true) ||
        checkExistence('birth_location', true) || checkExistence('birth_location_longitude', true) ||
        checkExistence('birth_location_latitude', true)"></mat-divider>


        <p *ngIf="checkExistence('child_of', true)">
          <b>Child of: </b> {{ data['organisms'][0]['child_of'] }}
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
