<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <div fxLayout="column">
    <section>
      <div class="inner-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>
              <p>
                <b>Breeders Interface - MoBPS</b>
              </p>
            </mat-card-title>
            <mat-card-subtitle>
              <p>
                <b>Mo</b>dular <b>B</b>reeding <b>P</b>rogram <b>S</b>imulator
              </p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="inner-text">
              MoBPS is an R-package (<a href="https://github.com/tpook92/MoBPS">https://github.com/tpook92/MoBPS</a>)
              and graphical interface (available at <a href="http://www.mobps.de">www.mobps.de</a>) to simulate complex
              and large scale breeding programs with focus on livestock
              and crop populations. Simulations are performed on an individual basis. MoBPS is a versatile
              tool, providing standard procedures applied in animal and plant breeding like GBLUP and OGC,
              but also allowing to use user provided own selection schemes while still controlling the
              simulation of phenotypes, meiosis and costs of the simulated scheme.
            </p>
            <p class="inner-text">
              Information about how to use IMAGE data with this package could be found <a href="http://www.mobps.de/">
              here</a> (under <b>Guidelines to the R-package section</b>)
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
</div>
