<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <div fxLayout="column">
    <section>
      <div class="inner-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>IMAGE Data Portal</b></mat-card-title>
            <mat-card-subtitle>Innovative Management of Animal Genetic Resources</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/IMAGE--logo_RVB.png" alt="IMAGE Logo">
          <mat-card-content>
            <p>
              "Innovative Management of Animal Genetic Resources" (acronym IMAGE) is a project funded by the Horizon 2020
              Research and Innovation Programme of the European Union.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
  <div fxLayout="column">
    <section>
      <div class="top-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>IMAGE strategy</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              IMAGE focuses on genetic collections in gene banks (ex situ in vitro) rather than on live population
              management (in situ in vivo). However, the synergy between gene banks and live population management
              is a crucial issue that will be addressed by the project.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
    <section>
      <div class="inner-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>General objectives of IMAGE</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              The aim of IMAGE is to enhance the use of genetic collections and to upgrade animal gene bank management.
              IMAGE will further develop genomic methodologies, biotechnologies, and bioinformatics for a better
              knowledge and exploitation of animal genetic resources.
            </p>
            <p>
              The ultimate goal of the project is to demonstrate the benefits brought by gene banks to the development
              of more sustainable livestock farming systems, in particular by:
            </p>
            <ul>
              <li>Enhancing the usefulness of genetic collections to allow the livestock sector to respond to new
                environmental constraints and market needs;</li>
              <li>Minimising genetic accidents such as abnormalities or genetic variability tipping points;</li>
              <li>Optimising complementarity between ex-situ and in-situ conservation to maximise resources for the
                future;</li>
              <li>Making use of the latest developments in DNA technology and reproductive physiology in collecting,
                storing and using biological resources.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
  <div fxLayout="column">
    <section>
      <div class="top-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>Contribute to IMAGE</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Some content...</p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
    <section>
      <div class="inner-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><b>Geographical representation</b></mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/image002.png" alt="IMAGE Geographical representation">
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
</div>
