<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3>Filters:</h3>
  </mat-expansion-panel-header>
  <app-filters title="Species" tab="organism"></app-filters>
  <app-filters title="Supplied breed" tab="organism"></app-filters>
  <app-filters title="Sex" tab="organism"></app-filters>
</mat-expansion-panel>
<div class="active-filters" *ngIf="hasActiveFilters()">
  <h3>Active filters:</h3>
  <mat-chip-list>
    <mat-chip *ngFor="let filter of activeFilters" color="warn" selected>{{ filter }}
      <mat-icon matChipRemove (click)="onRemoveActiveFilter(filter)">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
<div class="download-button">
  <mat-chip color="primary" selected>
    Download data
    <mat-icon>save</mat-icon>
  </mat-chip>
</div>
<div class="sticky-header">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data source ID</th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['organism', element.accession]">{{ element.accession }}</a></td>
    </ng-container>

    <ng-container matColumnDef="species">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Species</th>
      <td mat-cell *matCellDef="let element">{{ element['characteristics']['Species'][0]['text'] }}</td>
    </ng-container>

    <ng-container matColumnDef="breed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplied breed</th>
      <td mat-cell *matCellDef="let element">{{ element['characteristics']['Supplied breed'][0]['text'] }}</td>
    </ng-container>

    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
      <td mat-cell *matCellDef="let element">{{ element['characteristics']['Sex'][0]['text'] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 10, 20, 50, 100]" showFirstLastButtons>
</mat-paginator>

