a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover, a:active {
  color: lightgrey;
}

.download-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.active-filters {
  width: 100%;
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
}

mat-icon {
  margin-left: 5px;
}
