<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3>Filters:</h3>
  </mat-expansion-panel-header>
  <app-filters title="Species" tab="specimen"></app-filters>
  <app-filters title="Derived from" tab="specimen"></app-filters>
  <app-filters title="Organism part" tab="specimen"></app-filters>
</mat-expansion-panel>
<h3>Active filters:</h3>
<div class="active-filters">
  <mat-chip-list>
    <mat-chip [removable]="true">
      One fish
      <mat-icon>cancel</mat-icon>
    </mat-chip>
    <mat-chip color="primary" selected>Primary fish<mat-icon>cancel</mat-icon></mat-chip>
    <mat-chip color="accent" selected>Accent fish<mat-icon>cancel</mat-icon></mat-chip>
    <mat-chip color="warn" selected>One fish<mat-icon>cancel</mat-icon></mat-chip>
  </mat-chip-list>
</div>
<div class="download-button">
  <mat-chip>
    Download data
    <mat-icon>save</mat-icon>
  </mat-chip>
</div>
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Data source ID</mat-header-cell>
    <mat-cell *matCellDef="let element"><a [routerLink]="['specimen', element.accession]">{{ element.accession }}</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="species">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Species</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element['characteristics']['Species'][0]['text'] }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="derived">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Derived from</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element['characteristics']['Derived from'][0]['text'] }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="organism">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Organism part</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element['characteristics']['Organism part'][0]['text'] }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons>
</mat-paginator>
