<ng-container>
  <section class="summary" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="1375px">
      <mat-card-title fxLayoutAlign="center"><b>Summary map</b></mat-card-title>
      <mat-card-content fxLayoutAlign="center">

        <div id="map" class="map"></div>

        <div style="display: block">
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>

      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
