<section fxLayout fxLayoutAlign="center">
  <div *ngIf="!showOrganismsSummary">
    <h3>Calculating organisms summary...</h3>
    <mat-spinner></mat-spinner>
  </div>
</section>
<section fxLayout fxLayoutAlign="center">
  <h1 *ngIf="showOrganismsSummary">Organisms summary</h1>
</section>
<mat-grid-list cols="2" rowHeight="4:2">
  <mat-grid-tile>
    <div id="birthMap" class="map"></div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="showOrganismsSummary">
    <canvas baseChart
            [data]="organismSpeciesData"
            [labels]="organismSpeciesLabels"
            [chartType]="'bar'"
            [options]="organismSpeciesOptions"
            [legend]="false"
            [plugins]="barChartPlugins"></canvas>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="showOrganismsSummary">
    <canvas baseChart
            [data]="organismBreedData"
            [labels]="organismBreedLabels"
            [chartType]="'bar'"
            [options]="organismBreedOptions"
            [legend]="false"
            [plugins]="barChartPlugins"
            (chartClick)="chartClicked($event)"></canvas>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="showOrganismsSummary">
    <canvas baseChart
            [data]="organismCountryData"
            [labels]="organismCountryLabels"
            [chartType]="'pie'"
            [options]="organismCountryOptions">
    </canvas>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>
<section fxLayout fxLayoutAlign="center">
  <div *ngIf="!showSpecimensSummary">
    <h3>Calculating specimens summary...</h3>
    <mat-spinner></mat-spinner>
  </div>
</section>
<section fxLayout fxLayoutAlign="center">
  <h1 *ngIf="showSpecimensSummary">Specimens summary</h1>
</section>
<mat-grid-list cols="2" rowHeight="4:2" class="bottom-grid-list">
  <mat-grid-tile>
    <div id="collectionMap" class="map"></div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="showSpecimensSummary">
    <canvas baseChart
            [data]="specimenPartData"
            [labels]="specimenPartLabels"
            [chartType]="'pie'"
            [options]="specimenPartOptions"></canvas>
  </mat-grid-tile>
</mat-grid-list>


